
<form>
	<span class="status">{{status}}</span>
	<h1>
		<input type="text" ng-model="contact.name" style="width: 100%;" />
	</h1>
	<span class="revision">Revision: {{contact._rev}}</span>
	<h2>Telefonnummern</h2>

	<p ng-repeat="p in contact.phones">
		<b><input type="text" ng-model="p.label" />:</b> <input type="text"
			ng-model="p.number" /> <a href="" ng-click="deletePhone()">L&ouml;schen</a>
	</p>
	<a href="" ng-click="newPhone()" class="newPhone">Nummer
		hinzuf&uuml;gen...</a>

	<h2>E-Mail Adressen</h2>
	<p ng-repeat="email in contact.emails">
		<input type="text" ng-model="email.address" /><a href=""
			ng-click="deleteEmail()">L&ouml;schen</a>
	</p>
	<a href="" ng-click="newEmail()">E-Mail hinzuf&uuml;gen...</a>

	<h2>Anschriften</h2>

	<p ng-repeat="pa in contact.postalAddresses">
		<input type="text" ng-model="pa.address" /><a href=""
			ng-click="deletePostalAddress()">L&ouml;schen</a>
	</p>
	<a href="" ng-click="newPostalAddress()">Anschrift hinzuf&uuml;gen</a>


	<button ng-click="save()">Speichern!</button>
</form>
